body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    min-height: 100vh;
}


#button-area{
    display: flex;
    justify-content: space-between;
    width: 520px;
}

#currentGrid {
    outline: 10px solid rgb(229, 229, 229);
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;
    gap: 1px;
}

.row {
    display: flex;
    flex-grow: 1;
    gap: 1px;
}

.gridBox {
    flex-grow: 1;
}

button {
    padding: 10px;
    background-color:rgb(229, 229, 229);
    border-radius: 5px;
    border: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

.selected-button {
    padding: 10px;
    background-color:rgb(190, 189, 189);
    border-radius: 5px;
    border: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}